.container {
  width: 100%;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 75px;
  letter-spacing: 5px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 430px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.containerCard {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(41deg, #ffffff1a, #ffffff0d, #080509);
  background-clip: padding-box;
  border-radius: 10px;
  padding: 20px;
  transition: 300ms;
}

.containerCard:hover {
  background: #ffffff1a;
  background: linear-gradient(65deg, #5c59591a, #d2a3a30d, #3b3a3c);
  transform: scale(1.01);
}

.cardTitle {
  font-weight: 700;
  color: azure;
  letter-spacing: 3px;
  line-height: 40px;
  font-size: 22px;
  padding-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.description {
  font-weight: 600;
  line-height: 3.3em;
  letter-spacing: 2px;
  color: #fff;
  font-size: 16px;
  max-width: 470px;
  text-align: center;
}

.gradientCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  .container {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
  .title {
    font-size: 45px;
  }

  .gradientCards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    padding: 30px;
    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
}
