.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 75px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.containerCard {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(41deg, hsl(288, 8%, 25%), #1f1526, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}

.cardTitle {
  font-weight: 600;
  color: gainsboro;
  letter-spacing: 1px;
  line-height: 40px;
  font-size: 22px;
  padding-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  font-size: 16px;
  max-width: 470px;
  text-align: center;
}

.gradientCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  .container {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
  .title {
    font-size: 45px;
  }

  .gradientCards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    padding: 30px;
    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
}
