.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 20px 0;
  width: 100%;
  max-width: 1300px;
  z-index: 1;
}

.listContainer {
  list-style-type: none;
  padding: 0;
}

.logo {
  width: 64px;
  height: 64px;
}

.navMenu .listContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 25px;
}

.navMenu .listContainer li a {
  font-size: 16px;
  line-height: 1.5em;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  transition: color, transform, 300ms;
}

.navMenu .listContainer li a:hover,
.navMenu .listContainer li a:focus {
  color: #ffffff80;
  transform: translateY(-3px);
}

.mobileIcons {
  font-size: 28px;
  line-height: 1.3em;
}

.mobileNav {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #121212;
  width: 360px;
  padding: 0 10px;
}

.mobileNav .listContainer li a {
  font-size: 20px;
  line-height: 2.5em;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: color, transform, 300ms;
  margin: 5px 10px;
}

.mobileNav .listContainer li a:hover,
.mobileNav .listContainer li a:focus {
  color: #ffffff80;
  transform: translateY(-3px);
}

/* NAVBAR MEDIA QUERY */
@media screen and (max-width: 640px) {
  .navMenu {
    display: none;
  }

  .mobileIcons {
    display: block;
  }

  .mobileLinks {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    gap: 45px;
    color: white;
    text-decoration: none;
  }
}
