.footer {
  position: relative;
  padding: 120px 16px 60px;
}

.innerWidth {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  gap: 8px;
  width: 100%;
}

.containerHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.heading {
  font-size: 75px;
  color: #fff;
  letter-spacing: 5px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 6px 4px;
  background-color: #25618b;
  gap: 12px;
  border-radius: 32px;
  border-radius: 32px;
  background-color: azure;
  letter-spacing: 2px;
}

.avatar {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.home {
  font-size: 16px;
  color: #121212;
  padding: 12.5px;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-flow: column;
}

.horizontalLine {
  height: 2px;
  background-color: white;
  opacity: 0.1px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
}

.headingContent {
  font-size: 26px;
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
}

.copyRights {
  font-size: 16px;
  color: #fff;
  opacity: 40%;
  letter-spacing: 2px;
}

.iconsContainer {
  display: flex;
  gap: 4px;
}

.icons {
  width: 24px;
  height: 24px;
  cursor: pointer;
  object-fit: contain;
  background-color: #fff;
}

@media (max-width: 768px) {
  .heading {
    font-size: 44px;
  }
}
