.footer {
  position: relative;
  padding: 120px 60px 60px 60px;
}

.innerWidth {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  gap: 8px;
  width: 100%;
}

.containerHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

.heading {
  font-size: 75px;
  color: #fff;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

.btn {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5em;
  text-decoration: none;

  padding: 13px 29px;
  border-radius: 10px;
  transition: 300ms;
  letter-spacing: 2px;
}

.btn:hover,
.btn:focus {
  box-shadow: inset 0 0 0 1px #ffffff40, 0 10px 30px -10px #ffffff80;
}

.avatar {
  width: 24px;
  height: 24px;
}

.home {
  font-size: 20px;
  color: #121212;
  padding: 12.5px;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-flow: column;
}

.horizontalLine {
  height: 2px;
  background-color: white;
  opacity: 0.1px;
  margin: 20px 0 80px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
}

.headingContent {
  font-size: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
}

.copyRights {
  font-size: 14px;
  color: #fff;
  opacity: 40%;
  letter-spacing: 2px;
}

.iconsContainer {
  display: flex;
  gap: 12.5px;
}

.icons {
  fill: #fff;
  width: 34px;
  height: 34px;
  cursor: pointer;
  object-fit: contain;
}

@media (max-width: 768px) {
  .heading {
    font-size: 35px;
  }

  .iconsContainer {
    padding: 20px 0 20px 0;
  }

  .headingContent {
    font-size: 18px;
  }
}
